#title {
  color: #0632DD;
  font-size: 70px;
  margin-left:10px;
}

.grid {
  display: table;
  border-spacing: 5px;
}

.row {
  display: table-row;
}

.cell {
  display:table-cell;  
  height: 150px;
  width: 150px;
  background-color:rgba(0, 26, 128, 0.19);
  position: relative;
}
img {
  width: 150px;
  height: 150px;
  position: absolute;
}
